#loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
  }
  
div[role=listbox] {
  width:100%; 
  height: 300px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
}

.carousel-caption {
  background: rgb(103, 218, 238);
  border-radius: 25px;
  width: 100px;
  height: 50px;
  position: absolute; 
}

.price {
  font-size: 20px; 
  line-height: 50%;
  font-weight: bold;
}

.card {
  background-color: rgba(211, 211, 211, 0.5);
  margin: 20px;
} 

.imageSize {
  height: 300px !important;
  width: 300px !important;
}

body, .jumbotron {
  background: url("../../Images/Skybackground.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #ddfffc;
  }

footer {
  position: relative;
  clear:both;
  bottom: 0;
  width: 100%;
}


#runningCorgi {
  align-content: center;
  
}

#container {
  position: relative;
}

#map-container {
  width: 100%;
  height: 350px;
}

#map {
  width: 100%;
  height: 100%;
}

#spinner {
  position: fixed;
}
