#loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body, .jumbotron {
  background: url("../../Images/Skybackground.jpg");
  height: 100%;
   width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
  background-color: #ddfffc;
}

.card {
background-color: rgba(211, 211, 211, 0.5);
margin: 20px;

} 

.image {
  height: 100%; 
  width: 100%; 
  object-fit: contain;
}

#map-container{
  width: 100%;
  height: 350px;
}

#map{
  width: 100%;
  height: 100%;
}

.imageSize {
  height: 200px !important;
  width: 200px !important;
}

